fuck.txt
*.log
log/
README_BACKUP_17148.md
README_BASE_17148.md
README_LOCAL_17148.md
README_REMOTE_17148.md
simple.html.orig 
simple_BACKUP_19720.html
simple_BASE_19720.html
simple_LOCAL_19720.html
simple_REMOTE_19720.html
